<aside class="flex flex-col w-64 h-screen px-5 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700">
    
    <div class="flex items-center px-2">
        <img class="object-cover w-10 h-10 rounded-full" src="https://ui-avatars.com/api/?name=User+Name&background=random" alt="avatar">
        <div class="mx-3">
            <h4 class="text-sm font-medium text-gray-700 dark:text-gray-200">John Doe</h4>
            <p class="text-xs text-gray-500 dark:text-gray-400">john@example.com</p>
        </div>
    </div>

    <div class="flex flex-col justify-between flex-1 mt-6 bg-white">
        <nav class="flex-1 -mx-3 space-y-3">
            <a class="btn flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" 
               [routerLink]="['admin','user-dashboard']" routerLinkActive="bg-gray-100 dark:bg-gray-800 text-blue-600">
                
                <span class="mx-2 text-sm font-medium">Dashboard</span>
            </a>
        </nav>

        <div class="mt-6">
            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" 
               href="#">
            
                <span class="mx-2 text-sm font-medium">Settings</span>
            </a>
        </div>
    </div>
</aside>